<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/flats">Airbnb</a>
    <form class="d-flex" action="/flats/search" method="get">
      <input class="form-control me-2" type="text" name="search" placeholder="Search" aria-label="Search">
      <input class="btn btn-outline-success" type="submit">
    </form>
    <a class="btn btn-primary mx-2" href="/flats/new">Add Flat</a>
  </div>
</nav>
